$my-bg-color:rgba(240, 245, 238, 0.973);
$head-color:red;
$head-size:30px;


.wrapper{
  background-color: $my-bg-color;
  width: 1100px;
  height: 1200px;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   h2{
     color: $head-color;
     text-align: center;
     font-size:$head-size ;
   }
   .gallary{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
   }
     .gallary-img-item, .gallary-audio-item, .gallary-video-item{
       border: 1px solid rgb(209, 197, 197);
       margin-top: 40px;
       height: 283px;
       width: 350px;
     }
       audio{
         height: 157px;
         margin-left: 25px;
         padding-bottom: 65px;
       }
       p{
         text-align: center;
       }
}
